*{
    margin:0px;
    padding:0px;
}
.literaryrules,
.culturalrules,
.footballrules,
.cricketrules,
.basketballrules,
.volleyballrules,
.tabletennisrules,
.badmintonrules,
.futsalrules,
.chessrules,
.computergamingrules{
  padding-top:75px!important;
}
.active a{
  background-color: black!important;
}
a{
  text-decoration: none!important;
}

.youtubeVideo{
   width:420px!important;
   height:340px!important;
}

#wrapper{
    max-width: 1400px;
    margin:auto;
}

#container{

}

.slidersponsertitle span{
  font-size: 15px;
  color:white;
  padding:5px;
  margin:0px;
  background:#E64A19;
}

.active {
    background:black!important;
    color:white!important;
}
.navbar #myNavbar a:hover{
    background:black!important;
    color:white!important;
    transition: 1s;
}

header #navigation{

}

header #navigationBar .navCustom{
     background:#E64A19;
     border:0px;
}

header #navigationBar .navColor a{
     color:white;
      padding-right:15px;
      font-size:15px;
} 
header #navigationBar .navColor a{
     color:white;
      padding-right:20px;
      font-size:15px;
}
header #navigationBar .navColor a:hover{
     color:black;
      
} 
header #navigationBar .navColor ul{
    
       background:#E64A19;
} 

header #logo{
	 width:200px;
	 height:80px;
	 margin-top:-10px;
}
#register_here{
    padding:20px 0px;
    width:100%;
    background: #eee;
}


#register_here #registerContent{
   
    margin:20px 0 0 -60px;
}

#register_here #registerContent h1{
    font-size:30px;
    color:black;
    padding:5px;font-family: 'Rakkas', cursive;
}


#register_here .btnRegister{
    background:#E64A19;
    padding:10px 20px;
    border:0px solid black;
    color:white;
    border-radius: 0px;
}
#register_here .btnRegister:hover{
    background:#00BCD4;
    color:white;
    margin-left:5px;
    transition:1s;
}
#socialMedia{
    padding:3px;
    margin-top:20px;
  
}

#socialMedia span b {
    padding:3px;
    font-family: 'Sacramento', cursive;
    font-size:30px;
}

#homeBlog{
    padding:50px 20px 20px 20px;
    width:100%;
    background: #eee;
}

#homeBlog .blogLg{
    width:100%;
    padding:2px 10px;
    border:5px solid white;
}

#homeBlog .blogLg a{
  text-decoration: none;
}

#homeBlog .blogLg h1{
    font-family: 'Mirza', cursive;
    color:#E64A19;
    font-size:260%;
    position: absolute;
    z-index: 2;
    top:-18px;
    background:black;
    width:70%;
    padding:5px;
}

#homeBlog .blogLg img{
  width:100%;
  margin:auto;
  height:440px;
  opacity: 0.9;
  position: relative;
  z-index: 1;
}

#homeBlog .blogLg p{
    font-family: aria;
    color:black;
    font-size:140%;
    overflow: hidden;
    line-height: 20px;
    padding:20px 0px;
}

#homeBlog .blogSm{
    width:100%;
    padding:8px;
    border:2px solid white;
}

#homeBlog .blogSm a{
  text-decoration: none;
}

#homeBlog .blogSm h1{
    font-family: 'Mirza', cursive;
    color:#E64A19;
    font-size:140%;
}

#homeBlog .blogSm img{
  width:100%;
  margin:auto;
  height:140px;
  opacity: 0.9;
}

#homeBlog .blogSm p{
    font-family: aria;
    color:black;
    font-size:120%;
    overflow: hidden;
}

#homeBlog .blogDown{
    width:100%;
    padding:20px;
}

#homeBlog .blogDown a{
  text-decoration: none;
  text-align:justify;
}



#homeBlog .blogDown h1{
    font-family: 'Mirza', cursive;
    color:black;
    font-size:180%;
    margin:0px;
    padding:0px;
}

#homeBlog .blogDown h2{
    font-family: 'Mirza', cursive;
    color:#E64A19;
    font-size:140%;
}
#homeBlog .blogDown h2 a{
    font-family: 'Mirza', cursive;
    color:#E64A19;
    font-size:100%;
}
#homeBlog .blogDown img{
  width:100%;
  margin:auto;
  height:160px;
  opacity: 0.9;
}

#homeBlog .blogDown #mediaimg{
    width:70px;
    height:70px;
    border:2px solid white;
}



#homeBlog .blogDown p{
    font-family: aria;
    color:black;
    font-size:120%;
    overflow: hidden;
}

#homeBlog .blogTopHeader{
    font-family: 'Mirza', cursive;
    color:#E64A19;
    font-size:300%;
    margin:10px;
    border-bottom: 1px dotted black;
}


#about_us{
    padding:40px 30px;
    margin-top: -12px;
    background-color: #FBE9E7;
    width:100%;
}
#about_us h1{
    text-align: center;
}


#about_us #aboutContent{
    padding:20px;

}

#about_us #aboutContent h1{
    color:#E64A19;
    font-size:25px;
}
#about_us #aboutContent p{
    font-family: 'Mirza', cursive;
    font-size:20px;
}


#about_bpkhis{
    padding:40px 30px;
    margin-top: -20px;
    background-color: #EEEEEE;
    width:100%;
}

#about_bpkhis h1{
    text-align: center;
}


#about_bpkhis #aboutContent{
    padding:20px;

}

#about_bpkhis #aboutContent h1{
    color:#E64A19;
    font-size:25px;
}
#about_bpkhis #aboutContent p{
    font-family: 'Mirza', cursive;
    font-size:20px;
}
#about_bpkhis #bpkihsPic {
    width:360px;
    height:360px;
    border:5px soild white;
}
#about_bpkhis #bpkihsPic:hover {
   transform:scale(1.05);
   border:5px soild #E64A19;
   transition:1s;
}

#contact_us{
    padding: 20px;
    padding-top:40px;
    width:100%;
	background-color: #FBE9E7;
}

#contact_us h1{
   text-align: center;
   color:#E64A19;
}
#contact_us #contact_register_info{
   font-family: 'Mirza', cursive;
    font-size:180%;
    text-align: center;
    padding:10px;
}
#contact_us .btnRegister{
    background:#E64A19;
    padding:10px 20px;
    border:0px solid black;
    color:white;
    border-radius: 0px;
    margin:5px;
}
#contact_us .btnRegister:hover{
    background:#00BCD4;
    color:white;
    padding-right:30px;
    transition:1s;
}

#contact_us #contactAddress{
	padding:20px 0px 20px 20px;
	font-size:20px;
	font-family: 'Mirza', cursive;

}

#contact_us #goolgleMap{	
	margin:20px;
	padding:0px;
}


#contact_us #goolgleMap iframe{
	width:380px;
	height:300px;
	border:2px solid #E0E0E0;
}

.overlay {
   background:transparent; 
   position:relative; 
   width:100%;
  height:300px;
   top:300px;  
   margin-top:-300px;  
}


#contact_us #contactFormpart{
	padding:10px;
}
#contact_us #contactFormpart input, #contact_us #contactFormpart textarea{	
	padding:20px;
}

#contact_us #formSend{
	padding:10px 30px;
}

#sponser_card{
	padding: 20px;
    padding-top:40px;
    
}
#sponser_card  h1{
   text-align: center;
   color:#E64A19;
   padding:10px;
}
#sponser_card #sponser_text p{
   font-family: 'Mirza', cursive;
    font-size:120%;
}
#sponser_note{
  width:70%;
  margin:auto;
}
#sponser_note p{
   font-family: 'Mirza', cursive;
    font-size:20px;
}

footer{
     background:#E64A19;
	 width:100%;
     padding:20px;
}


#footer  h1{
   text-align: center;
   font-size:20px;
   color:white;
   padding:10px;
}

#footer  #copyright{
   text-align: center;
   font-size:20px;
   color:white;
   padding:10px;
}
.fa_custom{
  font-size: 40px!important;
}
footer .cusGlyphicon {
    font-size: 30px;
    color:black ;
	float:right;
	margin:-40px 30px 0px 0px ;
	background:white;
	width:50px;
	height:50px;
	border-radius:50%;
	-webkit-border-radius: 50%;	
	-moz-border-radius: 50%;  	
    -khtml-border-radius:50%;
	padding:10px;
}

footer #footNav .side {
    width:300px;
}

footer #footNav ul{
    list-style:none;
}
footer #footNav ul h2{
    font-size: 200%;
}
footer #footNav a{
    color:white;
    text-decoration: none;
}
footer #footNav ul li a:hover{
  margin-left:5px;
  transition: 1s;
}
footer #footNav li{
    
    padding:5px;
}

#footerhomenav1,
#footerhomenav2,
#footerhomenav3{
  float:left;
  width:30%;
}


/**********************************************/
#events{
    padding:50px 20px 20px 20px;
    width:100%;
    background: url('../img/clock-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#events .eventscontent{
    width:100%;
    background-color: #EEEEEE;
}
#events .eventscontent .eventscontentdetails{
  padding:3px 20px 10px 20px;
}


#events .eventscontent h1{
    font-family: 'Mirza', cursive;
    color:black;
    font-size:180%;
    margin:0px;
    padding:0px;
}

#events .eventscontent  h2{
    font-family: 'Mirza', cursive;
    color:#E64A19;
    font-size:140%;
    background-color: #FFCCBC;
     padding:20px;
}
#events .eventscontent h3{
    font-family: 'Mirza', cursive;
    color:#E64A19;
    font-size:140%;

}

#events .eventscontent .eventscontentdetails p{
    font-family: aria;
    color:black;
    font-size:100%;
    overflow: hidden;
    text-align: justify;
}

#events .eventscontent .items{
 padding-left:50px;
}
#events .blogTopHeader{
    font-family: 'Mirza', cursive;
    color:#E64A19;
    font-size:300%;
    margin:10px;
    border-bottom: 1px dotted white;
    text-align: center;
}

/**********************************************/






/**********************************************/
/*#footballBlog{
    padding:50px 20px 20px 20px;
    width:100%;
    background: #eee;
}

#footballBlog .blogcontent{
    width:100%;
    padding:20px;
}

#footballBlog .blogcontent a{
  text-decoration: none;
}


#footballBlog .blogcontent h1{
    font-family: 'Mirza', cursive;
    color:black;
    font-size:180%;
    margin:0px;
    padding:0px;
}

#footballBlog .blogcontent h2{
    font-family: 'Mirza', cursive;
    color:#E64A19;
    font-size:140%;
}

#footballBlog .blogcontent img{
  width:100%;
  margin:auto;
  height:160px;
  opacity: 0.9;
}
#footballBlog .blogcontent img:hover{
  transform: scale(1.05);
  transition: 1s;
}
#footballBlog .blogcontent p{
    font-family: aria;
    color:black;
    font-size:120%;
    overflow: hidden;
}

#footballBlog .blogTopHeader{
    font-family: 'Mirza', cursive;
    color:#E64A19;
    font-size:300%;
    margin:10px;
    border-bottom: 1px dotted black;
    text-align: center;
}*/

/**********************************************/



/**********************************************/
#literaryBlog,
#culturalBlog,
#footballBlog,
#cricketBlog,
#basketballBlog,
#volleyballBlog,
#tabletennisBlog,
#badmintonBlog,
#futsalBlog,
#chessBlog,
#computergamingBlog{
    padding:50px 20px 20px 20px;
    width:100%;
    background: #eee;
}

#literaryBlog .blogcontent,
#culturalBlog .blogcontent,
#footballBlog .blogcontent,
#cricketBlog .blogcontent,
#basketballBlog .blogcontent,
#volleyballBlog .blogcontent,
#tabletennisBlog .blogcontent,
#badmintonBlog .blogcontent,
#futsalBlog .blogcontent,
#chessBlog .blogcontent,
#computergamingBlog .blogcontent{
    width:100%;
    padding:20px;
}

#literaryBlog .blogcontent a,
#culturalBlog .blogcontent a,
#footballBlog .blogcontent a,
#cricketBlog .blogcontent a,
#basketballBlog .blogcontent a,
#volleyballBlog .blogcontent a,
#tabletennisBlog .blogcontent a,
#badmintonBlog .blogcontent a,
#futsalBlog .blogcontent a,
#chessBlogBlog .blogcontent a,
#computergamingBlog .blogcontent a{
  text-decoration: none;
}

#literaryBlog .blogcontent h1,
#culturalBlog .blogcontent h1,
#footballBlog .blogcontent h1,
#cricketBlog .blogcontent h1,
#basketballBlog .blogcontent h1,
#volleyballBlog .blogcontent h1,
#tabletennisBlog .blogcontent h1,
#badmintonBlog .blogcontent h1,
#futsalBlog .blogcontent h1,
#chessBlog .blogcontent h1,
#computergamingBlog .blogcontent h1{
    font-family: 'Mirza', cursive;
    color:black;
    font-size:180%;
    margin:0px;
    padding:0px;
}

#literaryBlog .blogcontent h2,
#culturalBlog .blogcontent h2,
#footballBlog .blogcontent h2,
#cricketBlog .blogcontent h2,
#basketballBlog .blogcontent h2,
#volleyballBlog .blogcontent h2,
#tabletennisBlog .blogcontent h2,
#badmintonBlog .blogcontent h2,
#futsalBlog .blogcontent h2,
#chessBlog .blogcontent h2,
#computergamingBlog .blogcontent h2{
    font-family: 'Mirza', cursive;
    color:#E64A19;
    font-size:140%;
}

#literaryBlog .blogcontent img,
#culturalBlog .blogcontent img,
#footballBlog .blogcontent img,
#cricketBlog .blogcontent img,
#basketballBlog .blogcontent img,
#volleyballBlog .blogcontent img,
#tabletennisBlog .blogcontent img,
#badmintonBlog .blogcontent img,
#futsalBlog .blogcontent img,
#chessBlog .blogcontent img,
#computergamingBlog .blogcontent img{
  width:100%;
  margin:auto;
 /* height:160px;*/
  opacity: 0.9;
}

#literaryBlog .blogcontent p,
#culturalBlog .blogcontent p,
#footballBlog .blogcontent p,
#cricketBlog .blogcontent p,
#basketballBlog .blogcontent p,
#volleyballBlog .blogcontent p,
#tabletennisBlog .blogcontent p,
#badmintonBlog .blogcontent p,
#futsalBlog .blogcontent p,
#chessBlog .blogcontent p,
#computergamingBlog .blogcontent p{
    font-family: aria;
    color:black;
    font-size:120%;
    overflow: hidden;
}


.literaryrules,
.culturalrules,
.footballrules,
.cricketrules,
.basketballrules,
.volleyballrules,
.tabletennisrules,
.badmintonrules,
.futsalrules,
.chessrules,
.computergamingrules{
  padding:30px;
}
.literaryrules h1,
.culturalrules h1,
.footballrules h1,
.cricketrules h1,
.basketballrules h1,
.volleyballrules h1,
.tabletennisrules h1,
.badmintonrules h1,
.futsalrules h1,
.chessrules h1,
.computergamingrules h1{
    font-family: 'Mirza', cursive;
    color:black;
    font-size:220%;
    margin:0px;
    padding:0px;
}

.literaryrules h2,
.culturalrules h2,
.footballrules h2,
.cricketrules h2,
.basketballrules h2,
.volleyballrules h2,
.tabletennisrules h2,
.badmintonrules h2,
.futsalrules h2,
.chessrules h2,
.computergamingrules h2{
    font-family: 'Mirza', cursive;
    color:#E64A19;
    font-size:160%;
     padding:5px;
}

.literaryrules h3,
.culturalrules h3,
.footballrules h3,
.cricketrules h3,
.basketballrules h3,
.volleyballrules h3,
.tabletennisrules h3,
.badmintonrules h3,
.futsalrules h3,
.chessrules h3,
.computergamingrules h3{
    font-family: 'Mirza', cursive;
    color:#E64A19;
    font-size:140%;

}
.literaryrules p,
.culturalrules p,
.footballrules p,
.cricketrules p,
.basketballrules p,
.volleyballrules p,
.tabletennisrules p,
.badmintonrules p,
.futsalrules p,
.chessrules p,
.computergamingrules p{
    font-family: aria;
    color:black;
    font-size:100%;
    overflow: hidden;
    text-align: justify;
}

#literaryBlog  .blogDown,
#culturalBlog  .blogDown,
#footballBlog  .blogDown,
#cricketBlog  .blogDown,
#basketballBlog  .blogDown,
#volleyballBlog  .blogDown,
#tabletennisBlog  .blogDown,
#badmintonBlog  .blogDown,
#futsalBlog  .blogDown,
#chessBlog  .blogDown,
#computergamingBlog .blogDown{
    width:100%;
    padding:20px;
}

#literaryBlog  .blogDown a,
#culturalBlog  .blogDown a,
#footballBlog  .blogDown a,
#cricketBlog  .blogDown a,
#basketballBlog  .blogDown a,
#volleyballBlog  .blogDown a,
#tabletennisBlog  .blogDown a,
#badmintonBlog  .blogDown a,
#futsalBlog  .blogDown a,
#chessBlog  .blogDown a,
#computergamingBlog .blogDown a{
  text-decoration: none;
  text-align: justufy;
}

#literaryBlog  .blogDown h1,
#culturalBlog  .blogDown h1,
#footballBlog  .blogDown h1,
#cricketBlog  .blogDown h1,
#basketballBlog  .blogDown h1,
#volleyballBlog  .blogDown h1,
#tabletennisBlog  .blogDown h1,
#badmintonBlog  .blogDown h1,
#futsalBlog  .blogDown h1,
#chessBlog  .blogDown h1,
#computergamingBlog .blogDown  h1{
    font-family: 'Mirza', cursive;
    color:black;
    font-size:180%;
    margin:0px;
    padding:0px;
}


#literaryBlog  .blogDown h2,
#culturalBlog  .blogDown h2,
#footballBlog  .blogDown h2,
#cricketBlog  .blogDown h2,
#basketballBlog  .blogDown h2,
#volleyballBlog  .blogDown h2,
#tabletennisBlog  .blogDown h2,
#badmintonBlog  .blogDown h2,
#futsalBlog  .blogDown h2,
#chessBlog  .blogDown h2,
#computergamingBlog .blogDown   h2{
    font-family: 'Mirza', cursive;
    color:#E64A19;
    font-size:120%;
}

#literaryBlog  .blogDown h2 a,
#culturalBlog  .blogDown h2 a,
#footballBlog  .blogDown h2 a,
#cricketBlog  .blogDown h2 a,
#basketballBlog  .blogDown h2 a,
#volleyballBlog  .blogDown h2 a,
#tabletennisBlog  .blogDown h2 a,
#badmintonBlog  .blogDown h2 a,
#futsalBlog  .blogDown h2 a,
#chessBlog  .blogDown h2 a,
#computergamingBlog .blogDown   h2 a{
    font-family: 'Mirza', cursive;
    color:#E64A19;
    font-size:100%;
}

#literaryBlog  .blogDown img,
#culturalBlog  .blogDown img,
#footballBlog  .blogDown img,
#cricketBlog  .blogDown img,
#basketballBlog  .blogDown img,
#volleyballBlog  .blogDown img,
#tabletennisBlog  .blogDown img,
#badmintonBlog  .blogDown img,
#futsalBlog  .blogDown img,
#chessBlog  .blogDown img,
#computergamingBlog .blogDown  img{
  width:100%;
  margin:auto;
  height:160px;
  opacity: 0.9;
}

#literaryBlog  .blogDown  #mediaimg,
#culturalBlog  .blogDown  #mediaimg,
#footballBlog  .blogDown  #mediaimg,
#cricketBlog  .blogDown  #mediaimg,
#basketballBlog  .blogDown  #mediaimg,
#volleyballBlog  .blogDown  #mediaimg,
#tabletennisBlog  .blogDown  #mediaimg,
#badmintonBlog  .blogDown  #mediaimg,
#futsalBlog  .blogDown  #mediaimg,
#chessBlog  .blogDown  #mediaimg,
#computergamingBlog .blogDown #mediaimg{
    width:50px;
    height:50px;
    border:2px solid white;
}


#literaryBlog  .blogDown  img:hover,
#culturalBlog  .blogDown   img:hover,
#footballBlog  .blogDown   img:hover,
#cricketBlog  .blogDown   img:hover,
#basketballBlog  .blogDown   img:hover,
#volleyballBlog  .blogDown   img:hover,
#tabletennisBlog  .blogDown   img:hover,
#badmintonBlog  .blogDown   img:hover,
#futsalBlog  .blogDown   img:hover,
#chessBlog  .blogDown   img:hover,
#computergamingBlog .blogDown img:hover{
  transform: scale(1.05);
  transition: 1s;
}

#literaryBlog  .blogDown p,
#culturalBlog  .blogDown  p,
#footballBlog  .blogDown  p,
#cricketBlog  .blogDown p,
#basketballBlog  .blogDown  p,
#volleyballBlog  .blogDown  p,
#tabletennisBlog  .blogDown  p,
#badmintonBlog  .blogDown  p,
#futsalBlog  .blogDown  p,
#chessBlog  .blogDown  p,
#computergamingBlog .blogDown  p{
    font-family: aria;
    color:black;
    font-size:120%;
    overflow: hidden;
}
#literaryBlog .blogTopHeader,
#culturalBlog .blogTopHeader,
#footballBlog .blogTopHeader,
#cricketBlog .blogTopHeader,
#basketballBlog .blogTopHeader,
#volleyballBlog .blogTopHeader,
#tabletennisBlog .blogTopHeader,
#badmintonBlog .blogTopHeader,
#futsalBlog .blogTopHeader,
#chessBlog .blogTopHeader,
#computergamingBlog .blogTopHeader{
    font-family: 'Mirza', cursive;
    color:#E64A19;
    font-size:300%;
    margin:10px;
    border-bottom: 1px dotted black;
    text-align: center;
}

/**********************************************/





/**********************************************/
#postBlog{
    padding:50px 20px 20px 20px;
    width:100%;
    background: #eee;
}

#postBlog .blogcontent{
    padding:20px;
}




#postBlog .blogcontent h1{
    font-family: 'Mirza', cursive;
    color:black;
    font-size:180%;
    margin:0px;
    padding:0px;
}


#postBlog .blogcontent h2{
    font-family: 'Mirza', cursive;
    color:#E64A19;
    font-size:140%;
}

#postBlog .blogcontent img{
  width:100%;
  margin:auto;
 /* height:160px;*/
 padding:40px 0px;
  opacity: 0.9;
}

#postBlog .blogcontent p{
    font-family: aria;
    color:black;
    font-size:120%;
    overflow: hidden;
}

#postBlog .blogTopHeader{
    font-family: 'Mirza', cursive;
    color:#E64A19;
    font-size:300%;
    margin:10px;
    border-bottom: 1px dotted black;
    text-align: center;
}

#postBlog .blogDown{
    width:100%;
    padding:20px;
}

#postBlog .blogDown a{
  text-decoration: none;
  text-align:justify;
}

#postBlog .blogDown h1{
    font-family: 'Mirza', cursive;
    color:black;
    font-size:180%;
    margin:0px;
    padding:0px;
}


#postBlog .blogDown h2{
    font-family: 'Mirza', cursive;
    color:#E64A19;
    font-size:120%;
}
#postBlog .blogDown h2 a{
    font-family: 'Mirza', cursive;
    color:#E64A19;
    font-size:100%;
}

#postBlog .blogDown img{
  width:100%;
  margin:auto;
  height:160px;
  opacity: 0.9;
}

#postBlog .blogDown #mediaimg{
    width:50px;
    height:50px;
    border:2px solid white;
}


#postBlog .blogDown img:hover{
  transform: scale(1.05);
  transition: 1s;
}
#postBlog .blogDown p{
    font-family: aria;
    color:black;
    font-size:120%;
    overflow: hidden;
}

#postBlog .blogTopHeader{
    font-family: 'Mirza', cursive;
    color:#E64A19;
    font-size:300%;
    margin:10px;
    border-bottom: 1px dotted black;
}


#postBlog .postheader {
    font-family: 'Mirza', cursive;
    color:#E64A19;
    font-size:200%;
    margin:10px;
   padding-top:20px;
}

#postBlog .postheader a{
    color:#E64A19!important;
}

/**********************************************/